@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    @mixin dark {
        --mantine-color-body: #101820;
    }
}

.alpha-background {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @mixin dark {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.hover-alpha-background {
    @mixin hover {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @mixin dark {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.hover-alpha-background-strong {
    @mixin hover {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @mixin dark {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.border-color * {
    @mixin dark {
        border-color: var(--mantine-color-borderColor-filled);
    }
}

.mantine-AppShell-navbar {
    position: fixed;
    border: unset !important;
    background: transparent !important;
    user-select: none;

    .navbar__content {
        background-color: var(--mantine-color-body-filled);
        transition-property: opacity, transform !important;
        transition-duration: var(--mantine-navbar-transition-duration) !important;
        transition-timing-function: var(--mantine-navbar-transition-timing-function) !important;
        border-right: 1px solid;
        border-color: var(--mantine-color-borderColor-filled);
        height: 100%;
    }

    @media (min-width: 1920px) {
        overflow: hidden;
        left: calc(
            50% - calc(calc(var(--mantine-max-app-width) - var(--mantine-navbar-width)) / 2)
        ) !important;
        transform: translateX(-50%) !important;

        .navbar__content {
            transform: var(--app-shell-navbar-transform, translateX(0));
            transition-property: opacity, transform !important;
            position: relative;
            border-right: 1px solid;
            border-color: var(--mantine-color-borderColor-filled);
            height: 100%;
        }
    }
}
